{% extends "base2.html" %}
{% block content %}

<div class="centered-content">
    <h2>Interaction History of {{ target_user.firstname }} {{ target_user.lastname }} on Shelf and Beyond</h2>
    <div class="hist-text-container">

        <div class="hist-text-box">
            <h3>Listings Created</h3>
            <ul>
                {% for listing in listings_created %}
                    <li>
                        <strong>{{ listing.title }}</strong> - Status: {{ listing.get_status_display }} - Listed on {{ listing.listing_time|date:"M d, Y H:i" }}
                    </li>
                {% empty %}
                    <li>No listings created.</li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <div class="hist-text-box">
            <h3>Books Sold</h3>
            <ul>
                {% for sale in books_sold %}
                    <li>
                        <strong>{{ sale.listing.title }}</strong> sold to <em>{{ sale.buyer.firstname }} {{ sale.buyer.lastname }}</em> on {{ sale.purchase_date|date:"M d, Y H:i" }}
                        for {{ sale.listing.price }} BDT
                    </li>
                {% empty %}
                    <li>No books sold.</li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <div class="hist-text-box">
            <h3>Books Bought</h3>
            <ul>
                {% for purchase in books_bought %}
                    <li>
                        <strong>{{ purchase.listing.title }}</strong> bought from <em>{{ purchase.seller.firstname }} {{ purchase.seller.lastname }}</em> on {{ purchase.purchase_date|date:"M d, Y H:i" }}
                        for {{ purchase.listing.price }} BDT
                    </li>
                {% empty %}
                    <li>No books purchased.</li>
                {% endfor %}
            </ul>
        </div>

        <br>
    </div>
</div>

{% endblock %}
