<!-- contains the logout button  -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf and Beyond</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">Shelf and Beyond</div>
            <div class="search-container">
                <form action="{% url 'search_results' %}" method="GET">
                    <input type="text" name="q" placeholder="Search by book name or author name" value="{{ query|default_if_none:'' }}">
                    <button type="submit" class="search-btn">🔍</button>
                </form>
                <a href="{% url 'view_cart' %}">
                    <button type="button" class="cart-btn">🛒</button>
                </a>
            </div>

            <div class="auth-buttons">
                {% if request.session.user_id %}
                    <a href="{% url 'create_listing' %}"><button class="btn primary">CREATE LISTING</button></a>
                    <a href="{% url 'logout' %}"><button class="btn danger">LOG OUT</button></a>
                {% elif request.user.is_superuser %}
                    <a href="{% url 'logout' %}"><button class="btn danger">LOG OUT</button></a>
                {% else %}
                    <a href="{% url 'login_step' %}"><button class="btn">LOG IN</button></a>
                    <a href="{% url 'signup_step1' %}"><button class="btn">SIGN UP</button></a>
                {% endif %}
            </div>
        </div>

        <nav class="nav-links">
            <a href="{% if request.session.user_id %}{% url 'welcome_page' %}{% elif request.user.is_superuser %}{% url 'admin_dashboard' %}{% else %}{% url 'home_page' %}{% endif %}">Home</a>
            <a href="{% url 'show_message' %}">Inbox</a>
            <a href="{% url 'manage_listings' %}">My Listings</a>
            <a href="{% url 'show_listings' %}">All Listings</a>
            <a href="{% url 'pet_adoption' %}">Pet Adoption</a>
            <a href="{% url 'show_adoption_listings' %}">Pet Adoption Listings</a>
            <a href="{% url 'manage_adoption_listings' %}">My Adoption Listings</a>
          
        </nav>
    </header>

    <main>
        <div class="book-background">
            <div class="overlay"></div>
            <div class="content-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>
