<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf and Beyond</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">Shelf and Beyond</div>
            <div class="search-container">
                <input type="text" placeholder="Search by book name or author name">
                <button class="search-btn">🔍</button>
                <!-- <button class="search-btn">&#128269</button> -->

                <a href="{% url 'view_cart' %}">
                    <button type="button" class="cart-btn">🛒</button>
                </a>
            </div>

            <div class="auth-buttons">
                {% if request.session.user_id %}
                    <a href="{% url 'logout' %}"><button class="logout">LOG OUT</button></a>
                {% else %}
                    <a href="{% url 'login_step' %}"><button class="login">LOG IN</button></a>
                    <a href="{% url 'signup_step1' %}"><button class="signup">SIGN UP</button></a>
                {% endif %}
            </div>


        </div>
        <nav class="nav-links">
            <a href="{% if request.session.user_id %}{% url 'welcome_page' %}{% else %}{% url 'home_page' %}{% endif %}">Home</a>
            
            <a href="{% url 'show_listings' %}">All Listings</a>
            
           

        </nav>
    </header>

    <main>
        <div class="book-background">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
