{% extends "base2.html" %}
{% load static %}

{% block content %}
<div class="overlay-box">
    <div class="form-container">
        <div class="centered-content">
            <h1>Send Message to {{ seller.firstname }} {{ seller.lastname }}</h1>

            {% if form.errors %}
                <div class="error" style="color: red; text-align: center; margin-bottom: 15px;">
                    <p>Please correct the following errors:</p>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST" action="{% url 'send_message' seller.web_user_id %}">
                {% csrf_token %}
                {{ form.receiver.as_hidden }}
                <div>
                    {{ form.sender_name.label_tag }}
                    {{ form.sender_name }}
                    {% if form.sender_name.errors %}
                        <div class="error" style="color: red;">{{ form.sender_name.errors }}</div>
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    {% if form.message.errors %}
                        <div class="error" style="color: red;">{{ form.message.errors }}</div>
                    {% endif %}
                </div>
                <br>
                <button type="submit" class="back-btn">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}















